.inside{
	margin: 0px 12%;
	padding: 0;
}

   /* --------------------- Front Page styling---------------*/

.front_page{
           margin: 0px 12%;
           background-color: #266D85;
           opacity: .9;
           height: 100%;
           box-shadow: 25px 25px 25px #888888;
           padding: 75px 0px;
}

.f_text{

	color: white;
	text-align: center;
    line-height: 2;
    font-size: 2.5em;
    font-family: 'Baloo Chettan', cursive;
}


.f_para{

	color: white;
	text-align: center;
	padding: 15px;
    font-size: 2em;
}

#f_button{
	 
	 margin-left:auto;
	 margin-right:auto;
	 display:block;
}

.submit{
	 
	 margin-left:auto;
	 margin-right:auto;
	 display:block;
}

.sub_pad{

	padding: 3px;
}

@media screen and (max-width: 768px){
        
  .front_page{
           margin: 110px 5px;
           box-shadow: none;
    }

  .f_text{
    color: white;
	text-align: center;
	padding: 15px;
    line-height: 1.5;
    font-size: 2em;
    font-family: 'Baloo Chettan', cursive;
  }

  .f_para{

	color: white;
	text-align: center;
	padding: 15px;
    font-size: 1.5em;
  }
}
  
  /* ---------------------- Header --------------------------*/
.header{

	background-color: #283747;
	height: 7em;
	font-family: cursive sans-serif;
	margin-top: -20px;
	border-radius: 10px;
	border-bottom: 3px solid black;
}

.header_h1{

	text-align: center;
	color: white;
	padding: 16px;
	font-size: 3em;
	line-height: .6;
	
}

.header_p, a {

	color: black;
	text-align: center;
	font-size: 1em;
	color: white;
	text-decoration: underline;

	
}

@media screen and (max-width: 768px) {
	.inside{

		margin: 0px 20px;
	}

	.header{

	    border-radius: 0px;
	    border-bottom: 3px solid black;

    }

    .header_h1{

	padding: 16px;
	font-size: 2em;
	line-height: .6;
	
    }
}

.note{
	color: red;
	text-align: center;
}

/* -------------------------step 1----------------------*/

.stepall{
	background-color: grey;
	height: 3em;
	font-size: 1em;
	text-align: center;
	color: black;
	padding: 5px;
	border-radius: 10px;
	border-bottom: 5px solid white;
}

@media screen and (max-width: 768px) {
	.stepall{

	padding: 5px;
	border-radius: 0px;
    }
}

/* ------------------------step1 form ---------*/

.stepall_form{
	margin-top: 0px;
	padding: 30px 20%;
	background-color: white;
	opacity: .8;
	
}

.step {
       border: 3px solid black;
       border-radius: 12px;
}

@media screen and (max-width: 768px) {
	.step {
       border: 3px solid black;
       border-radius: 0px;
    }
    .stepall_form{

	padding: 30px 10%;
	
    }

}

.step_button{
	padding-top: 7%;
	padding-bottom: 10%;
	padding-left: 30%;
}

@media screen and (max-width: 768px) {
      .step_button{
	padding-top: 7%;
	padding-bottom: 10%;
    }

}	


.left_step1_button{
	float: left;
}

.right_step1_button{
	float: right;
}

/*----------------------step2-------------------*/
textarea{
	text-transform: initial;
}

/*----------------------step3-------------------*/
.step3_p{
	text-align: center;
	color: purple;

}
/*----------------------step6-------------------*/
.step6_p{
	text-align: center;
	color: purple;
	font-size: 2em;

}

img{
	width: 100%;
	height: 100%;
	padding: 10px;
	cursor: pointer;
	background-color: red;
}

.stepall_form6{
	margin-top: 0px;
	padding: 30px 20%;
	background-color: white;
	opacity: .85;
}

@media screen and (max-width: 768px) {
	.step6_p{
	    font-size: 1.5em;

    }

}


/*-------------------footer--------------------*/
.footer{
	background-color: #283747;
	height: 4em;
	font-family: cursive sans-serif;
	border-radius: 10px;
}

.copyright{
	text-align: center;
	font-size: 1em;
	color: white;
	padding: 15px;
}

@media screen and (max-width: 768px) {
	.footer {
       border-radius: 0px;
    }
}

/*-------------------button--------------------*/

.black-button{
	background-color: #669900;

}

.finish{
	  
	  margin-left:auto;
	 margin-right:auto;
	 display:block;
	 padding-left: 40%;
}

.btm{
	margin-top: -50px;
}